.card-grid {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.card {
  flex: 1;
  background-color: #a1ccd1;
  border: 1px solid #dddddd;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 170px;
}

h2 {
  color: #a1ccd1;
}

select {
  width: 50%;
  padding: 10px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
  font-size: 16px;
  appearance: none;
  outline: none;
  cursor: pointer;
}

select:hover {
  border-color: #a1ccd1;
}

select:focus {
  border-color: #a1ccd1;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
.findfalcone {
  background-color: #a1ccd1;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.findfalcone:hover {
  background-color: #a1ccd1;
  color: #fff;
  transform: scale(1.1);
}

/* CardGrid.css */

.radio-container {
  margin-top: 10px;
}

.label {
  font-weight: bold;
}

.radio-buttons label {
  display: flex;
  align-items: center;
  margin-left: 100px;
  margin-bottom: 5px;
}

.vehicle-label {
  display: block;
  margin-bottom: 5px;
}

.vehicle-label input[type="radio"] {
  margin-right: 5px;
}

.vehicle-info {
  font-size: 14px;
  color: #333;
}

/* Responsive styles */
@media (max-width: 768px) {
  .vehicle-label {
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  .vehicle-label {
    font-size: 14px;
  }
  .vehicle-info {
    font-size: 12px;
  }
}
.timeresetContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.resetButton {
  background-color: #a1ccd1;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.resetButton:hover {
  transform: scale(1.1);
}
@media screen and (max-width: 768px) {
  select {
    width: 100%;
  }

  .card-grid {
    flex-direction: column;
    align-items: center;
  }

  .card {
    flex: none;
    width: 100%;
    margin-bottom: 20px;
  }
}
