.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #cdc1ff;
  color: #fff;
  padding: 10px 20px;
}

.headerLeft {
  display: flex;
  align-items: center;
}

.spaceIcon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.spaceIcon:hover {
  transform: scale(1.1);
}
.headerTitle {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.headerTitle:hover {
  transform: scale(1.1);
}

.headerRight {
  display: flex;
  align-items: center;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.headerLink {
  color: #fff;
  text-decoration: none;
  display: block;
  font-weight: bold;
  margin-right: 20px;
  cursor: pointer;
}

.headerLink:hover {
  transform: scale(1.05);
}
